.Welcome {
    padding-bottom: 40px;
    padding-top: 90px;
    position: relative;
}

.WelcomeInner {
    margin: 0 auto;
    max-width: 1320px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.WelcomeInner:after {
    clear: both;
    content: "";
    display: table;
}

.WelcomePrimary {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 730px;
}

.WelcomePrimary header {
    padding-bottom: 22px;
}

.GhpHeader {
    position: relative;
}

.GhpHeader h2, .GhpHeader h3 {
    font-family: Sorts Mill Goudy,Times New Roman,sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.WelcomePrimary header h2 {
    font-family: GoudyOldStyle;
    font-size: 20px;
    text-transform: capitalize;
}

.GhpHeader h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.WelcomePrimary header h2 span {
    text-transform: none;
}

.WelcomePrimary header h3 {
    color: #717781;
    font-size: 38px;
    letter-spacing: .1em;
    font-family: Sorts Mill Goudy,Times New Roman,sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.WelcomePrimary>p:first-of-type {
    color: #3d3f41;
    font-family: GoudyOldStyle;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.WelcomePrimary>p:nth-of-type(2) {
    color: #3d3f41;
    font-family: calibri,sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -.01em;
    line-height: 20px;
    margin-bottom: 16px;
}

.HeroText {
    bottom: 135px;
    left: 90px;
    margin: 0 auto;
    opacity: 1;
    position: absolute;
    right: 90px;
    text-align: center;
    z-index: 12;
}

.HeroText>div:first-of-type {
    display: inline-block;
    padding-bottom: 14px;
    position: relative;
}

.HeroText h1 {
    color: #fff;
    font-family: Sorts Mill Goudy,Times New Roman,sans-serif;
    position: relative;
}

.HeroText h1 small, .HeroText h1 strong {
    font-weight: 400;
    opacity: 1;
    text-transform: uppercase;
}

.HeroText h1 small {
    display: block;
    font-size: 31px;
    letter-spacing: .2em;
    margin-bottom: 5px;
}

.HeroText h1 strong {
    font-size: 70px;
    letter-spacing: .1em;
    line-height: 1;
    margin-left: -.05em;
}

.HeroSmallText {
    bottom: 35px;
    color: #fff;
    font-family: Sorts Mill Goudy,Times New Roman,sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 1.22;
    max-width: 391px;
    position: absolute;
    right: 40px;
    text-align: right;
    z-index: 5;
}

@media screen and (max-width: 1500px) {
    .HeroText h1 strong {
        font-size: 63px;
    }

    .HeroText h1 small {
        font-size: 27px;
    }

    .HeroText h1 strong {
        font-size: 63px;
    }
}

@media screen and (max-width: 1250px) {
    .Welcome {
        padding-bottom: 30px;
        padding-top: 70px;
    }

    .GhpHeader h2 {
        font-size: 15px;
    }

    .GhpHeader h3 {
        font-size: 35px;
    }

    .HeroText {
        bottom: 96px;
    }

    .HeroText h1 small {
        font-size: 24px;
    }

    .HeroText h1 strong {
        font-size: 59px;
    }

    .HeroSmallText {
        font-size: 15px;
        max-width: 310px;
    }
}



@media screen and (max-width: 769px) {
    .WelcomePrimary {
        background: #fff;
        float: none;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 100%;
    }

    .Welcome .WelcomeInner {
        padding: 0 20px;
    }

    .HeroText {
        bottom: 140px;
        left: 20px;
        right: 20px;
        text-align: center;
    }

    .HeroText>div:first-of-type {
        padding-bottom: 0;
    }

    .HeroText h1 small {
        font-size: 15px;
    }

    .HeroText h1 strong {
        font-size: 40px;
    }

    .HeroSmallText {
        bottom: 89px;
        font-size: 14px;
        left: 10px;
        margin: auto;
        max-width: 300px;
        right: 10px;
        text-align: center;
    }
}

