.SchoolGrid {
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.Links>div:first-of-type {
    border: 1px solid #b6230a;
}

.Links>div:nth-of-type(2) {
    border: 1px solid #2d637f;
}

.Links>div:nth-of-type(3) {
    border: 1px solid #a46e08;
}


.Links {
    left: 20px;
    margin: 50px 0;
    position: relative;
    text-align: center;
    width: calc(100% - 40px);
}

.Links .Link {
    display: inline-block;
    height: 390px;
    margin: 0 10px;
    position: relative;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    width: 290px;
}

.Links .Link .ImageBox {
    position: absolute;
    height: Calc(100% - 40px);
    left: 15px;
    top: 15px;
    width: Calc(100% - 30px);
}

.Links .Link .ImageBox:before { 
    background: -moz-linear-gradient(top,#000 0,rgba(2,1,2,0) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#000),color-stop(100%,rgba(2,1,2,0)));
    background: -webkit-linear-gradient(top,#000,rgba(2,1,2,0));
    background: -o-linear-gradient(top,#000 0,rgba(2,1,2,0) 100%);
    background: -ms-linear-gradient(top,#000 0,rgba(2,1,2,0) 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(#000),to(rgba(2,1,2,0)));
    background: linear-gradient(180deg,#000 0,rgba(2,1,2,0));
    bottom: 50%;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00020102",GradientType=0);
    left: 0;
    opacity: .85;
    position: absolute;
    right: 0;
    top: 0;
}

.Links .Link .ImageBox:after {
    background: -moz-linear-gradient(top,rgba(2,1,2,0) 0,#000 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(2,1,2,0)),color-stop(100%,#000));
    background: -webkit-linear-gradient(top,rgba(2,1,2,0),#000);
    background: -o-linear-gradient(top,rgba(2,1,2,0) 0,#000 100%);
    background: -ms-linear-gradient(top,rgba(2,1,2,0) 0,#000 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(2,1,2,0)),to(#000));
    background: linear-gradient(180deg,rgba(2,1,2,0) 0,#000);
    bottom: 0;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00020102",endColorstr="#000000",GradientType=0);
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
  }

.Links .Link .ImageBox span:first-of-type {
   height: 100% !important;
}

.Links .Link .ImageBox span img {
    display: inline-block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
}

.LinkInfo {
    bottom: 30px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.LinkInfo div {
    color: #fff;
    font-family: GoudyOldStyle;
}

.LinkInfo div:first-of-type {
    font-size: 25px;
    letter-spacing: .1em;
    line-height: 30px;
    text-transform: uppercase;
}

.LinkInfo div:nth-of-type(2) {
    font-size: 25px;
    letter-spacing: 0;
    line-height: 30px;
}

.LinkInfo div:nth-of-type(3) {
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
}

.Links a {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.ImageBox:hover {
    background-color: green;
}

.Links .Link .ImageBox, .Links .Link .ImageBox:after {
    position: absolute;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

@media screen and (max-width: 767px) {
    .Links .Link {
        display: block;
        left: 50%;
        margin: 10px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

