@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

html,
body {
  color: #000;
  background-color: var(--white);
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
}

:focus {
  outline: 0.15rem dashed var(--off-white);
  outline-offset: 0.25rem;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

link {
  text-decoration: none;
  user-select: none;
}

section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sticky-calendar-wrapper {
  display: block !important;
  bottom: 0;
  height: 120px;
  overflow: hidden;
  position: fixed;
  right: 0;
  width: 112px;
  z-index: 6;
}

.sticky-calendar-wrapper .design-triangle-large {
  border-color: transparent #00740f transparent transparent;
  border-style: solid;
  border-width: 80px 125px 80px 0;
  bottom: -90px;
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 0;
  z-index: 2;
}

.sticky-calendar-wrapper .design-triangle-small {
  border-color: transparent transparent #338d33;
  border-style: solid;
  border-width: 0 74px 120px;
  bottom: 0;
  height: 0;
  pointer-events: none;
  position: absolute;
  right: -74px;
  width: 0;
  z-index: 1;
}

.sticky-calendar-wrapper a:link .sticky-calendar-wrapper a:visited {
  color: #fff;
  text-decoration: none;
}

.sticky-calendar-wrapper a {
  bottom: 4px;
  display: block;
  height: 36px;
  position: absolute;
  right: 9px;
  transition: all .3s ease;
  width: 52px;
  background-color: transparent;
}

/* .sticky-calendar-wrapper a:before {
  display: block;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 0;
  transition: opacity .3s ease;
  opacity: 1;
} */

.sticky-calendar-wrapper span {
  bottom: 0;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 12px;
  height: auto;
  left: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 6;
}

.block {
  display: inline-block;
}

.react-multi-carousel-list {
  height: 100vh;
}

/* .hidden {
  display: hidden;
} */